.buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
}

.buttons .form-button {
    width: 100px;
    height: 35px;

    border-radius: 10px;
    border: none;

    color: #fff;

    cursor: pointer;
}

.buttons .text {
    color: black;
}

.buttons .red {
    background-color: red;
}

.buttons .blue {
    background-color: blue;
}

.buttons .green {
    background-color: green;
}