* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(56, 52, 52);

    height: 100vh;
}

p {
    color: #fff;
    text-align: center;
    font-size: 24px;

    margin-top: 15px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}